{
  "plugins": [
    ["module-alias", [
      { "src": "./node_modules/react-native-fetch-blob/node-polyfill/events.js", "expose": "events" },
      { "src": "./node_modules/react-native-fetch-blob/node-polyfill/http.js", "expose": "http" },
      { "src": "./node_modules/react-native-fetch-blob/node-polyfill/path.js", "expose": "path" },
      { "src": "./node_modules/react-native-fetch-blob/node-polyfill/fs.js", "expose": "fs" },
      { "src": "./node_modules/react-native-fetch-blob/node-polyfill/url.js", "expose": "url" },
      { "src": "./node_modules/react-native-fetch-blob/node-polyfill/querystring.js", "expose": "querystring" },
      { "src": "./node_modules/react-native-fetch-blob/node-polyfill/net.js", "expose": "net" },
      { "src": "./node_modules/react-native-fetch-blob/node-polyfill/crypto.js", "expose": "crypto" },
      { "src": "./node_modules/react-native-fetch-blob/node-polyfill/stream.js", "expose": "stream" }
    ]]
  ],
  "extends": "./node_modules/react-native/packager/react-packager/rn-babelrc.json"
}
